h1 {
  padding-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 53px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: #ffffff;
}

body {
  background-color: black;
}

.flexbox-analytics {
  display: flex;
}

.flexbox2 {
  display: flex;
  align-items: center;
}

iframe {
  justify-content: center;
  align-items: flex-start;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #555555;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #999999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  justify-content: center;
  font-size: 16px;
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
  padding-left: 60px;
}

p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  padding-left: 8px;
  padding-right: 5px;
  color: #222222;
  text-align: center;
}
#plus {
  font-weight: bold;
}

#songURL {
  width: 400px;
  height: 35px;
  left: 747px;
  top: 184px;
  /* margin-left: 725px; */

  background: #ffffff;
  border-radius: 39px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: left;
  letter-spacing: 0.07em;
  color: rgb(80, 80, 80);
}

#songButton,
button {
  margin-left: 20px;
  width: 137px;
  height: 42px;
  left: 1286px;
  top: 184px;
  cursor: pointer;

  font-family: Helvetica;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  border-radius: 39px;
  color: #000000;
}
#authorize-button {
  margin-left: 20%;
  margin-right: 20px;
  background-color: #1ed760;
}
